.myImg{max-width:100%; min-width:100%; height:auto;}

.red{color:red;}
.blue{color:#009}
.darkGray{color:#555}
.roundedImg{border-radius:50%;}

.makeCenter{text-align:center;}
.noDec{text-decoration:none; color:white;}
.noDec:hover{text-decoration:none; color:white;}
.noDec:visited{text-decoration:none; color:white;}
p{font-size:18px;}
h1{font-weight:2.5rem;}
h2{font-weight:2rem;}
h3{font-weight:1.75rem;}
h4{font-weight:1.5rem;}
h5{font-weight:1.24rem;}


.narrowBorder{border: 1px solid gray;}
.someMargin{margin:5px; box-sizing:border-box;}
.somePadding{padding:5px;}    

.lightGrayBg{background-color:#ececec}
.clearBg{background-color:#fff;}


